h1 {
    color: rgb(21, 33, 194);
    font-size: 5rem;
}

.picture {
    width: 350px;
    fill: rgb(9, 20, 10);
}

.sass {
    width: 450px;
    fill: rgb(68, 39, 39);
}

.pug {
    width: 250px;
    fill: rgb(118, 115, 128);
}
