extends ../template

block variables
  - var title = 'Обо мне'

block content
    section.section.first(data-speed="4")
        .title Parallax is cool
    section.section.second(data-speed="5")
        .title Parallax is cool
    section.section.third(data-speed="6")
        .title Parallax is cool